<!--<div align="center">Семинар № 5-->

<div align="center"><font color=#4682B4 size=5 face=
                          "segoe print"><em><strong>Семинар № 1</strong></em></font></div>

<div class="alert alert-block alert-info"><em>
<b> Условие 1:</b><br>
Оформляйте ноутбук, используя эти советы:
</em></div>

In [1]:
import pandas as pd
from IPython.display import Markdown as md

md("<div class='alert alert-block alert-success'><em><b>Ответ:</b><br><br>\
<font color=#800080 size=6 face='impact'>Номер задачи</font><font size=2>- заголовок 2<br>\
<font color=#0000FF size=5 face='wide latin'>Номер подзадачи</font><font size=2'> - заголовок 3<br>\
<font size=3'>Предоставленные наборы данных оформляйте, как код.\
</em>\
</div>")

<div class='alert alert-block alert-success'><em><b>Ответ:</b><br><br><font color=#800080 size=6 face='impact'>Номер задачи</font><font size=2>- заголовок 2<br><font color=#0000FF size=5 face='wide latin'>Номер подзадачи</font><font size=2'> - заголовок 3<br><font size=3'>Предоставленные наборы данных оформляйте, как код.</em></div>

***

<div class="alert alert-block alert-info"><em>
<b> Условие 2: </b><br>
На складе лежат разные фрукты в разном количестве.<br>
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество,<br> а возвращает общее количество фруктов на складе.
</em></div>

In [2]:
f = ['яблоки', 'груши', 'апельсины', 'мандарины']
w = [20, 30, 40 , 50]

s = {f[i] : w[i] for i in range(len(f))} # Словарь с данными склада
s

{'яблоки': 20, 'груши': 30, 'апельсины': 40, 'мандарины': 50}

In [3]:
def store(c:dict = {}) -> dict:
    '''Выводит словарь склада. Если на вход подан словарь с новыми 
    данными, учитывает их при выводе.'''
    for k in c:      
        if k in s: s[k] += c[k]  # Если продукт есть на складе-суммирует остатки 
        else: s.update({k:c[k]}) # Если продукта нет-делает новую запись
    return s

<font size="2px">Текущее состояние склада :

In [4]:
store()

{'яблоки': 20, 'груши': 30, 'апельсины': 40, 'мандарины': 50}

<font size="2px">Cостояние склада с изменениями:

In [5]:
store({'киви':100, 'яблоки':100})

{'яблоки': 120, 'груши': 30, 'апельсины': 40, 'мандарины': 50, 'киви': 100}

<font size="2px">Результат покажем в формате **DataFrame**:

In [6]:
name = [i for i in store().keys()]
count = [j for j in store().values()]
pd.DataFrame({'Название':name, 'Количество':count}, index=[id + 100 for id in range(len(store()))])

      Название  Количество
100     яблоки         120
101      груши          30
102  апельсины          40
103  мандарины          50
104       киви         100

<div class="alert alert-block alert-success"><em>
<b>Ответ:</b><br>
Функция <b>store().</b></em>
</div>

***

<div class="alert alert-block alert-info"><em>
<b> Условие 3: </b><br>
Дан список с затратами на рекламу.<br>
Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.<br>
Удалите такие значения из списка и посчитайте суммарные затраты<br>
[100, 125, -90, 345, 655, -1, 0, 200]<br>
Используйте list comprehensions<br>
</em></div>

In [7]:
z_0 = [100, 125, -90, 345, 655, -1, 0, 200] # Исходный список

z_1 = sum([i for i in z_0 if i > 0]) # Сумма элементов списка, составленного из
                                     # положительных элементов исходного списка

md("<div class='alert alert-block alert-success'><em><b>Ответ:</b><br>\
<font color=#0000FF size=5 face='mv boli'>Суммарные затраты равны:</font>\
<font color=red size=5 face='Arial'>  {}.</font><br>".format(z_1))

<div class='alert alert-block alert-success'><em><b>Ответ:</b><br><font color=#0000FF size=5 face='mv boli'>Суммарные затраты равны:</font><font color=red size=5 face='Arial'>  1425.</font><br>

***

<div class="alert alert-block alert-info"><em>
<b> Условие 4: </b><br>
Даны два списка.<br>
Дата покупки :<br>
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',<br>
'2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',<br>
'2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',<br>
'2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']<br>
Суммы покупок по датам :<br>
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930,<br>
 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]<br>
</em></div>

In [8]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30',\
    '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',\
    '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',\
    '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',\
    '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
bye = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274,\
       6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333,\
       5700, 2887]

<font size="2px">Создадим список списков отчёта **[[дата , выручка],...[дата , выручка]]** :

In [9]:
report = [[date[i] , bye[i]] for i in range(min(len(date), len(bye)))]
len(report)

30

<div class="alert alert-block alert-info"><em>
<b> Условие 4.1: </b><br>
Найдите, какая выручка у компании в ноябре<br>
Используйте list comprehensions<br>
</em></div>

<font size="2px">Так как формат дат одинаков, проще всего найти значение месяца **срезом**.<br>
Суммируем элементы списка значений выручки за ноябрь ('11') :

In [10]:
sm = sum([x[1] for x in report if x[0][5:7] == '11'])

md("<div class='alert alert-block alert-success'><em><b>Ответ:</b><br>\
<font color=#0000FF size=5 face='mv boli'>Выручка у компании в ноябре равна:</font>\
<font color=#800080 size=5 face='impact'>  {}.</font><br>".format(sm))

<div class='alert alert-block alert-success'><em><b>Ответ:</b><br><font color=#0000FF size=5 face='mv boli'>Выручка у компании в ноябре равна:</font><font color=#800080 size=5 face='impact'>  25098.</font><br>

<div class="alert alert-block alert-info"><em>
<b> Условие 4.2: </b><br>
Найдите выручку компании в зависимости от месяца.<br>
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой,<br>
а на выходе словарь, где ключи - это месяцы, а значения - это выручка.<br>
Используйте аннотирование типов<br>
</em></div>

In [11]:
def res(d:list, v:list) -> dict:
    '''Принимает на вход списки дат и выручки.
    Возвращает словарь, где ключ-название месяца,
    а значение-суммарная выручка.'''
    mon = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек']
    nov = []
    for i in range(len(date)):
        nov.append(mon[int(date[i][5:7]) - 1]) # Список, где вместо дат названия месяцев
        
    rez_d = {}
    for elm in set(nov): # Множество уникальных месяцев
        rez_d[elm] = sum([bye[j] for j in range(len(nov)) if nov[j] == elm]) # Список 
                                                      #суммированной выручки по месяцам 
    return rez_d

In [12]:
pd.DataFrame(res(date, bye).items(), columns = ['месяц', 'выручка '])

  месяц  выручка
0   сен     25647
1   окт     28645
2   ноя     25098
3   дек     45452

In [13]:
md("<div class='alert alert-block alert-success'><em><b>Ответ:</b><br>\
<font color=#0000FF size=5 face='mv boli'>Затраты равны:</font><br><br>\
<font color=red size=4 face='Arial'>  {}.</font><br>".format(res(date, bye)))

<div class='alert alert-block alert-success'><em><b>Ответ:</b><br><font color=#0000FF size=5 face='mv boli'>Затраты равны:</font><br><br><font color=red size=4 face='Arial'>  {'сен': 25647, 'окт': 28645, 'ноя': 25098, 'дек': 45452}.</font><br>